### Column transformers

In [12]:
import numpy as np 
import pandas as pd

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [14]:
df = pd.read_csv('covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [18]:
X_train

    age  gender  fever   cough       city
79   48  Female  103.0    Mild    Kolkata
47   18  Female  104.0    Mild  Bangalore
27   33  Female  102.0  Strong      Delhi
44   20    Male  102.0  Strong      Delhi
41   82    Male    NaN    Mild    Kolkata
..  ...     ...    ...     ...        ...
36   38  Female  101.0    Mild  Bangalore
51   11  Female  100.0  Strong    Kolkata
92   82  Female  102.0  Strong    Kolkata
66   51    Male  104.0    Mild    Kolkata
22   71  Female   98.0  Strong    Kolkata

[80 rows x 5 columns]

In [23]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [26]:
X_train_fever

array([[103.        ],
       [104.        ],
       [102.        ],
       [102.        ],
       [100.95833333],
       [104.        ],
       [ 98.        ],
       [103.        ],
       [103.        ],
       [100.95833333],
       [ 98.        ],
       [100.        ],
       [104.        ],
       [103.        ],
       [ 98.        ],
       [104.        ],
       [104.        ],
       [ 99.        ],
       [101.        ],
       [101.        ],
       [101.        ],
       [104.        ],
       [103.        ],
       [100.        ],
       [101.        ],
       [101.        ],
       [101.        ],
       [100.95833333],
       [101.        ],
       [ 98.        ],
       [ 98.        ],
       [103.        ],
       [103.        ],
       [102.        ],
       [102.        ],
       [ 98.        ],
       [100.        ],
       [104.        ],
       [100.95833333],
       [100.95833333],
       [ 99.        ],
       [ 99.        ],
       [102.        ],
       [ 99.        ],
       [100.95833333],
       [100.        ],
       [101.        ],
       [ 99.        ],
       [ 99.        ],
       [100.95833333],
       [ 98.        ],
       [ 98.        ],
       [103.        ],
       [ 98.        ],
       [100.        ],
       [101.        ],
       [ 99.        ],
       [102.        ],
       [104.        ],
       [ 98.        ],
       [101.        ],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [104.        ],
       [100.        ],
       [103.        ],
       [104.        ],
       [100.95833333],
       [ 98.        ],
       [102.        ],
       [100.        ],
       [100.        ],
       [101.        ],
       [100.        ],
       [101.        ],
       [100.        ],
       [102.        ],
       [104.        ],
       [ 98.        ]])

In [27]:
#Ordinal encoding on cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [28]:
# OneHotEncoding on gender, city
ohe = OneHotEncoder(drop='first', sparse=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
x_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

c:\Users\Nishanijohnkrupakar\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\Nishanijohnkrupakar\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

In [29]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [30]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis = 1)

# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,x_test_gender_city,X_test_cough),axis = 1)

X_train_transformed.shape

(80, 7)

### Easy method using transformers

In [31]:
from sklearn.compose import ColumnTransformer

In [33]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [34]:
transformer.fit_transform(X_train).shape

c:\Users\Nishanijohnkrupakar\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [35]:
transformer.transform(X_test).shape

(20, 7)